<div [ngClass]="{'container__active': formSubmitted}"  class="container">
    <mat-card *ngFor="let mayor of dataFromForm" class="card" >
        <mat-card-header class="header">

            <mat-card-title > {{mayor.nombres}} {{mayor.primer_apellido}} {{mayor.segundo_apellido
            }}</mat-card-title>
            <h2>Votos: {{mayor.votos}}</h2>
            <h2>Municipio: {{mayor.municipio}}</h2>
            
        </mat-card-header>
        <mat-card-content></mat-card-content>
    </mat-card>
</div>