<div class="container">
    <mat-card class="card">
        <mat-card-header class="header">

            <mat-card-title>alsdmlcamsdca</mat-card-title>
            <p>alsdmcalsdmcaksdl1</p>
            <p>alsdmcalsdmcaksdl2</p>
            <p>alsdmcalsdmcaksdl3</p>
            <p>alsdmcalsdmcaksdl4</p>
            <p>alsdmcalsdmcaksdl5</p>
            <p>alsdmcalsdmcaksdl6</p>
            <p>alsdmcalsdmcaksdl7</p>
            <p>alsdmcalsdmcaksdl8</p>
            <p>alsdmcalsdmcaksdl9</p>
            <p>alsdmcalsdmcaksdl10</p>
        </mat-card-header>
        <mat-card-content></mat-card-content>
    </mat-card>
</div>